
<div class="container text-center">
<h1>Article Details</h1>
  <div class="card mt-4 mx-5 py-4">
  <div class="card-body">
    <div class="card header font-italic"> <%= @article.user.username if @article.user %></div>
    <h5 class="card-title"><strong>Title: </strong><%= @article.title %></h5>
    <p class="card-text"><%= @article.description %></p>
    <%= link_to 'Edit', edit_article_path(@article),class: "btn btn-primary" %>
    <%= link_to 'Delete', article_path(@article), class:"btn btn-outline-danger", method: :delete, data: { confirm: "Are you sure?" }%>
    <%= link_to 'Return to articles listing', articles_path, class: "btn btn-warning"%>
  </div>
  </div>
</div>