<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to "TB", root_path, class: "navbar-brand", id: "logo" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
         <%= link_to "Articles", articles_path, class: "nav-link"%>
        </li>

        <% if logged_in? && current_user.admin? %>
        <li class="nav-item active">
          <%= link_to "Categories" , categories_path, class: "nav-link"%>
        </li>
        <li class="nav-item text-success">
          <%= link_to'Create new Category', new_category_path, class:"text-white nav-link mx-2"%>
        </li>
      <% end %>

    <li class="nav-item">
        <%= link_to "Bloggers", users_path, class: "nav-link" %>
      </li>
      <% if logged_in? && current_user %>
      <li class="nav-item text-success">
        <%= link_to 'Create new Article', new_article_path, class:"text-white nav-link mx-2"%>
      </li>
      <li class="nav-item text-info mx-4 my-0">
        <%= "(Admin)" if current_user.admin? %><%= link_to current_user.username, user_path(current_user), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= button_to 'Logout', logout_path , class: "nav-link btn btn-outline-warning", method: :delete %>
      </li>
      <%= button_to "Delete profile", user_path(current_user), class: "dropdown-item text-danger", method: :delete, data: { confirm: "Are you sure?" } %>
      <% else %>
      <li class="nav-item">
        <%= link_to 'Log in', login_path, class: "nav-link" %>
      </li>
      <% end %>

      </ul>
    </div>
  </div>
</nav>















